In [6]:
#For Loop in Python is used to iterate over a sequence. Sequence like list, tuple, string

In [ ]:
#We start as the name suggests with the keyword 'for'. 
#We place then the variable name of choice that will store the value of each element that is contained in the sequence on each iteration.

In [8]:
#It will first store the first element in the sequence which is list, inside the variable called element. 
#Then it will execute the code block after the colon. Now, when the code has finished running, the for loop automatically runs again.
#This time taking the second item and storing it in the variable name that we have used in the for loop called element.
#It then takes the third element and runs the code and so on until all the elements in the sequence has been iterated over.
#When the last element is iterated over, the for loop will stop.

#Example:

for element in [1,3,5,6,11]:
    print (element)

1
3
5
6
11

In [ ]:
activities = ["singing", "dancing", "eating","reading"]
for activity in activities:
    print(f'I like {activity}')

In [75]:
activities = ["singing", "dancing", "eating","reading"]
for activity in range (len(activities)):
    print(f'I like {activities[activity]}')

I like singing
I like dancing
I like eating
I like reading

In [2]:
my_str = "This is all about a topic of Python"
count = 0
for my_char in my_str:
    if my_char == 'o':
        count +=1
print("The total number of 'o' in the string is ", count)

The total number of 'o' in the string is  4

In [38]:
#Sum of first 10 even numbers
total = 0
for num in range(1,11,2):
    total = total + num
print("The total is:", total)

The total is: 25

In [4]:
#FizzBuzz

In [16]:
for check in range (1,100):
    if check % 3 == 0 and check % 5 == 0:
        print(f'{check} -> Fizz Buzz')
    elif check % 5 == 0:
        print(f'{check} -> Buzz')
    elif check % 3 == 0:
        print(f'{check} -> Fizz')
    else:
        print(check)

1
2
3 -> Fizz
4
5 -> Buzz
6 -> Fizz
7
8
9 -> Fizz
10 -> Buzz
11
12 -> Fizz
13
14
15 -> Fizz Buzz
16
17
18 -> Fizz
19
20 -> Buzz
21 -> Fizz
22
23
24 -> Fizz
25 -> Buzz
26
27 -> Fizz
28
29
30 -> Fizz Buzz
31
32
33 -> Fizz
34
35 -> Buzz
36 -> Fizz
37
38
39 -> Fizz
40 -> Buzz
41
42 -> Fizz
43
44
45 -> Fizz Buzz
46
47
48 -> Fizz
49
50 -> Buzz
51 -> Fizz
52
53
54 -> Fizz
55 -> Buzz
56
57 -> Fizz
58
59
60 -> Fizz Buzz
61
62
63 -> Fizz
64
65 -> Buzz
66 -> Fizz
67
68
69 -> Fizz
70 -> Buzz
71
72 -> Fizz
73
74
75 -> Fizz Buzz
76
77
78 -> Fizz
79
80 -> Buzz
81 -> Fizz
82
83
84 -> Fizz
85 -> Buzz
86
87 -> Fizz
88
89
90 -> Fizz Buzz
91
92
93 -> Fizz
94
95 -> Buzz
96 -> Fizz
97
98
99 -> Fizz

In [12]:
#Break statement in for loop
for i in [10,22,3,5,6,11]:
    if i == 5:
        print("Found the CR's roll number")
        break
    print(i)

10
22
3
Found the CR's roll number

In [16]:
#continue statement in for loop
# Skipping a specific condition
for i in [10,22,3,5,6,11]:
    if i == 5:
        continue  # Skip 5
print(f'{i} is called at office.')

11 is called at office.

In [26]:
# Printing a multiplication table
for i in range(1, 4):  # Outer loop
    for j in range(1, 4):  # Inner loop
        print(f"{i} x {j} = {i*j}")
    print("-----")

In [30]:
# Multiplication table of 5
print("Multiplication Table of 5:")

for i in range(1, 11):  # Loop from 1 to 10
    print(f"5 x {i} = {5 * i}")

In [44]:
# Printing multiplication tables from 1 to 5
print("Multiplication Tables from 1 to 5:")

for num in range(1, 6):  # Loop through numbers 1 to 5
    print(f"\nMultiplication Table of {num}:")
    for i in range(1, 11):  # Inner loop for multiplication from 1 to 10
        print(f"{num} x {i} = {num * i}")

Multiplication Tables from 1 to 5:

Multiplication Table of 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication Table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication Table of 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table of 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Something

In [34]:
# Printing multiplication tables from 1 to 10
print("Multiplication Tables of odd numbers from 1 to 10:")

for num in range(1, 10, 2):  # Loop through numbers 1 to 10
    print(f"\nMultiplication Table of {num}:")
    for i in range(1, 11):  # Inner loop for multiplication from 1 to 10
        print(f"{num} x {i} = {num * i}")