# filter(), map() and reduce()

# The filter() function

In [1]:
filter.__doc__

'filter(function or None, iterable) --> filter object\n\nReturn an iterator yielding those items of iterable for which function(item)\nis true. If function is None, return the items that are true.'

In [5]:
even_checker = lambda num: num%2 == 0

# def even_checker(num):
#     return num % 2 == 0  # Return True if num is even, False otherwise

In [6]:
my_list = [1, 2, 3, 4, 5]

In [7]:
filter(even_checker, my_list)
# filter() applies the function to each element of the iterable automatically, one at a time. 
# So, you don’t need to explicitly pass the argument (num) to the function—it happens behind the scenes.

In [43]:
list(filter(even_checker, my_list))

[2, 4]

# filter() Practice Questions

1. Filter even numbers Given a list [1, 2, 3, 4, 5, 6, 7, 8, 9], use filter() and a lambda function to extract only even numbers.

2. Filter strings that start with 'A' Given a list of names: ['Alice', 'Bob', 'Annie', 'Tom'], filter names that start with the letter 'A'.

3. Filter numbers greater than 5 Given a list [2, 4, 6, 8, 10, 3, 5], filter numbers that are greater than 5 using filter().

4. Filter palindromes Given a list of words ['radar', 'level', 'hello', 'world', 'civic'], filter only the palindromic words (words that read the same backward).

5. Filter prime numbers Write a function is_prime() and use it with filter() to filter prime numbers from the list [2, 3, 4, 5, 6, 7, 8, 9, 10].

# The map() function

In [18]:
map.__doc__

'map(func, *iterables) --> map object\n\nMake an iterator that computes the function using arguments from\neach of the iterables.  Stops when the shortest iterable is exhausted.'

In [9]:
calculate_area = lambda radius : 3.14 * radius * radius

In [13]:
my_list = [ 7, 2, 12, 14, 21, 8]

In [14]:
map(calculate_area, my_list)

In [15]:
list(map(calculate_area, my_list))

[153.86, 12.56, 452.15999999999997, 615.44, 1384.74, 200.96]

# map() Practice Questions

1. Square each element Use map() and a lambda function to calculate the square of each number in the list [1, 2, 3, 4, 5].

2. Convert temperatures Given a list of temperatures in Celsius [30, 25, 40], convert them to Fahrenheit using map().

3. Capitalize words Given a list of strings ['hello', 'world'], use map() to capitalize each word.

4. Length of strings Use map() to calculate the length of each word in the list ['apple', 'banana', 'cherry'].

5. Double the numbers Given a list [1, 2, 3, 4], use map() to double each number in the list.

# The reduce() function

In [26]:
from functools import reduce
reduce.__doc__

'reduce(function, iterable[, initial]) -> value\n\nApply a function of two arguments cumulatively to the items of a sequence\nor iterable, from left to right, so as to reduce the iterable to a single\nvalue.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates\n((((1+2)+3)+4)+5).  If initial is present, it is placed before the items\nof the iterable in the calculation, and serves as a default when the\niterable is empty.'

In [29]:
add = lambda x, y: x + y

In [30]:
numbers = [1, 2, 3, 4, 5]

In [31]:
result = reduce(add, numbers)

In [32]:
print(result)

15

# reduce() Practice Questions

1. Sum of all numbers Use reduce() to calculate the sum of the numbers in the list [1, 2, 3, 4, 5].

2. Find the product Use reduce() to find the product of all numbers in the list [1, 2, 3, 4, 5].

3. Concatenate strings Given a list of strings ['Python', 'is', 'fun'], use reduce() to concatenate them into a single string: "Pythonisfun".

4. Find the maximum value Use reduce() to find the maximum value in the list [10, 5, 20, 15].

5. Calculate the factorial Use reduce() to calculate the factorial of 5.

# combination of filter(), map() and reduce()

1. Filter and Map

    Filter even numbers from the list [1, 2, 3, 4, 5, 6], then double them using map().

2. Map and Reduce

    Square all numbers in [1, 2, 3, 4] using map(), then use reduce() to sum them up.

3. Filter, Map, and Reduce

    From the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], filter numbers greater than 5, double them using map(), and calculate their sum using reduce().

4. Capitalize, Filter and Map

    Given a list of names ['alice', 'bob', 'clara', 'andrew'], capitalize all names using map() and filter those that start with 'A'.