In [1]:
# This is a python print function that is used to print something on the screen
print ("Hello")

Hello

In [3]:
daily_steps = 10000 
print(type(daily_steps))

<class 'int'>

In [4]:
weight = 72.5 
# this variable is storing a floating-point number 
print(type(weight))

<class 'float'>

In [5]:
first_name = "Ram"
print (type(first_name))

<class 'str'>

In [12]:
result = 5.0 // 2 # float division 
print(result)

2.0

In [16]:
x = 125  # int
y = 10  # float
print(x % y)

5

In [19]:
x = 3
y = 4

print ( x ** y)

81

In [20]:
x = 10  # Assign 10 to variable x
y = x + 5  # Use x to calculate a new value for y
print(y)

15

In [22]:
sales = 1000  # Initial sales amount in dollars
cost = 600  # Cost of the products

# Calculate initial profit
profit = sales - cost
print("Initial profit:", profit) 
print ("The initial profit is " + str(profit) + " Rs.")
print (f'The profit is {profit} Rs.')

Initial profit: 400
The initial profit is 400 Rs.
The profit is 400 Rs.

In [23]:
x = "a"
y = "b"

print (x + y)

ab

In [1]:
x = [1, 35, 2, 7, 2,]
print(type(x))

<class 'list'>

In [2]:
y = set(x)

In [3]:
print(type(y))

<class 'set'>

In [4]:
print(y)

{1, 2, 35, 7}

In [5]:
for a in ["www.google.com","www.facebook.com","www.x.com"]:

1
3
5

In [7]:
x = (1,)
print(type(x))

<class 'tuple'>

In [13]:
def additionOfTwoNumbers():
    print ""

print(additionOfTwoNumbers(9, 7))
print(additionOfTwoNumbers(10, 12))

# print(add(8,7))

16
22

In [9]:
x = 8
y = 7
a = 10
b = 15
print(x+y)
print(a+b)

15